:root {
  --primary: #2fbf71;
  --primary-010: #21804d;

  --secondary: #06628a;
  --secondary-010: #06374e;

  --white: #fff;

  --black: #10101a;
  --black-9: #0D0D0D;
  --black-010: #2a2a30;


  --grey-1: #F2F2F2;
  --grey: #9b9ba0;
  --grey-2: #A6A6A6;

  --redPrimary: #A60F0F;
  --redSecondary: #D91818;

}
